th {
    background-color: #039acc;
    color: #000000;
    text-align: left;
}

td {
    background-color: #a0ddf0;
    color: #000000;
}

#navcolumn h5#printLink {
    border-top: 1px solid #AAAAAA;
    border-bottom: none;
    margin-top: 10px;
}
.subsection h3 {
    border: 0px;
    padding: 0px;
    margin: 25px 0px -10px 0px;
}
.subsection h3 a {
    border-bottom: 1px dotted black;
    display: block;
    font-size: 1.2em;
}
.subsection h3 a.nolink, .subsection h3 a.nolink:hover {
    text-decoration: none;
    color: black;
}

.note {
    background-color: #ffeeff;
    border: 1px dotted #111111;
    padding: 3px 3px;
}

.subsubSection {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: -5px;
}
