th {
    background-color: #039acc;
    color: #000000;
    text-align: left;
}

td {
    background-color: #a0ddf0;
    color: #000000;
}

#navcolumn h5#printLink {
    border-top: 1px solid #AAAAAA;
    border-bottom: none;
    margin-top: 10px;
}

.note {
    background-color: #ffeeff;
    border: 1px dotted #111111;
    padding: 3px 3px;
}
