#*
 * Copyright 2003-2004 The Apache Software Foundation.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * $Id: logon.vm,v 1.3 2004/02/20 13:31:48 marino Exp $
 *#
<html>
    <head>
        <title>Sign in, Please!</title>
        <base href="$link.baseRef">
    </head>

    <body>

        #errorMarkup()

        <h3>Sign in, Please! (Velocity Version)</h3>

        <form method="POST" action="$link.setAction('logonSubmit_vm')">

        <table border="0">
            <tr>
                <th align="right">
                    Username:
                </th>
                <td align="left">
                    <input type="text" name="username" value="$!logonForm.username">
                </td>
            </tr>

            <tr>
                <th align="right">
                    Password:
                </th>
                <td align="left">
                    <input type="password" name="password" value="$!logonForm.password">
                </td>
            </tr>

            <tr>
                <td align="right">
                    <input type="submit" value="Submit" name="submit">
                </td>
                <td align="left">
                    <input type="reset" value="Reset" name="reset">
                </td>
            </tr>

        </table>

        </form>

        <a href="$link.setForward("logon_vm_src")">View Template</a><br>

    </body>

</html>
