<?xml version="1.0"?>

<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<project href="index.html">

  <title>Velocity</title>
  <logo href="../images/velocityview.png">&lt; Tools - View &gt;</logo>

  <body>
    <uplink name="Velocity Tools"        href="../index.html" alt="top"/>

    <menu name="VelocityView">
        <item name="Overview"                 href="index.html"/>
        <item name="Download"                 href="../index.html#Download"/>
        <item name="Installation"             href="index.html#Installation"/>
        <item name="LayoutServlet"            href="index.html#VelocityLayoutServlet"/>
        <item name="Examples"                 href="index.html#Examples"/>
        <item name="Javadoc"                  href="../javadoc/index.html"/>
    </menu>

    <menu name="VelocityView Tools">
      <item name="AbstractPagerTool"     href="../javadoc/org/apache/velocity/tools/view/tools/AbstractPagerTool.html"/>
      <item name="AbstractSearchTool"    href="../javadoc/org/apache/velocity/tools/view/tools/AbstractSearchTool.html"/>
      <item name="BrowserSnifferTool"    href="../javadoc/org/apache/velocity/tools/view/tools/BrowserSnifferTool.html"/>
      <item name="ContextTool"           href="../javadoc/org/apache/velocity/tools/view/tools/ContextTool.html"/>
      <item name="CookieTool"            href="../javadoc/org/apache/velocity/tools/view/tools/CookieTool.html"/>
      <item name="ImportTool"            href="ImportTool.html"/>
      <item name="LinkTool"              href="../javadoc/org/apache/velocity/tools/view/tools/LinkTool.html"/>
      <item name="ParameterParser"       href="../javadoc/org/apache/velocity/tools/view/tools/ParameterParser.html"/>
      <item name="ViewRenderTool"        href="ViewRenderTool.html"/>
      <item name="ViewResourceTool"      href="../javadoc/org/apache/velocity/tools/view/tools/ViewResourceTool.html"/>
    </menu>

    <menu name="Other Subprojects">
      <item name="GenericTools"   href="../generic/"/>
      <item name="VelocityStruts" href="../struts/"/>
    </menu>

    <printerversion/>
  </body>
</project>
