<?xml version="1.0"?>
<!--
  Copyright 2003-2004 The Apache Software Foundation.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  $Id: menu.xml,v 1.6 2004/02/18 20:21:49 nbubna Exp $
-->
<project href="index.html">

  <title>Velocity</title>
  <logo href="../images/velocityview.png">&lt; Tools - View &gt;</logo>

  <body>
    <uplink name="Velocity Tools"        href="../index.html" alt="top"/>

    <menu name="VelocityView">
        <item name="Overview"                 href="index.html"/>
        <item name="Download"                 href="../index.html#Download"/>
        <item name="Installation"             href="index.html#Installation"/>
        <item name="LayoutServlet"            href="index.html#VelocityLayoutServlet"/>
        <item name="Examples"                 href="index.html#Examples"/>
        <item name="Javadoc"                  href="../javadoc/index.html"/>
    </menu>

    <menu name="VelocityView Tools">
      <item name="AbstractSearchTool"    href="../javadoc/org/apache/velocity/tools/view/tools/AbstractSearchTool.html"/>
      <item name="CookieTool"            href="CookieTool.html"/>
      <item name="ImportTool"            href="ImportTool.html"/>
      <item name="LinkTool"              href="LinkTool.html"/>
      <item name="ParameterParser"       href="ParameterParser.html"/>
      <item name="ViewRenderTool"        href="ViewRenderTool.html"/>
    </menu>

    <menu name="Other Subprojects">
      <item name="GenericTools"   href="../generic/"/>
      <item name="VelocityStruts" href="../struts/"/>
    </menu>

    <printerversion/>
  </body>
</project>
