#*
 * Copyright 2003-2004 The Apache Software Foundation.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * $Id$
 *#
<HTML>
<HEAD>
  <TITLE>VelocityStruts</TITLE>
  <link rel="stylesheet" href="$link.setRelative('styles.css')" type="text/css">
</HEAD>

<BODY>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr bgcolor="#000066">
    <td>
      <h2><font color="#FFFFFF"><br>
				VelocityStruts</font></h2>
      <font color="#FFFFFF">Version 1.2, february 22. 2005</font></td>
    <td align="right">&nbsp;</td>
  </tr>
</table>

<p><a href="http://jakarta.apache.org/velocity/tools/struts/">VelocityStruts</a>
is a subproject of the <a href="http://jakarta.apache.org/velocity/">Apache Velocity</a>
project.
<br />
This is an example web application demonstrating the integration of the
<a href="http://jakarta.apache.org/struts/">Struts web application framework</a>
with the Velocity template engine.
</p>

<h5>Highlights</h5>
<ul>
	<li>Velocity is now becoming an alternative view technology for Struts-based
	    Web applications.</li>
	<li>Velocity templates can be mixed with JSP templates in the same application.</li>
	<li>No changes are required to Struts. This works with Struts 1.2.</li>
</ul>

<h5>Status</h5>
<p>A great deal of progress has been made since our 1.0 release. These include
support for Struts 1.1 features like modules, Tiles, and Validator.  These features have been enhanced further
to support Struts 1.2.  For a more
complete listing, see the project <a href="http://jakarta.apache.org/velocity/tools/changes.html">change log</a>.</p>

<h5>Application Examples</h5>
<p>Seven small <a href="$link.action.examples">application examples</a> have
been included. Look at example 2 for a demonstration of the Velocity
view tools for Struts. JSP versions of some of the examples have
been included to allow a direct comparison of the two view technologies.
</p>

<h5>Documentation</h5>
<p>This project is hosted at <a href="http://jakarta.apache.org/velocity/tools/">jakarta.apache.org</a>. There you find the latest news and instructions to download the software.</p>
<p>The project <a href="http://jakarta.apache.org/velocity/tools/struts/">documentation</a> is available online.</p>

<h5>Feedback</h5>
<p>We really appreciated your feedback. Please send your feedback and questions to the Velocity Users Mailing List at <a href="mailto:velocity-user@jakarta.apache.org">velocity-user@jakarta.apache.org</a>.</p>

</BODY>
</HTML>
