## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
#title( 'BrowserTool' )
<p>
#set( $demo = $text.demo )
$demo.thisPage.insert("#doclink( 'BrowserTool' false )").
</p>

#demoTableStart()

#set( $desc = 'Returns true if the specified value is found in the user-agent string' )
#demo1( 'browser' 'get' 6 $desc )

#set( $desc = 'Finds and returns the specified version information' )
#demo( 'browser' 'Version' $desc )
#demo( 'browser' 'MajorVersion' $desc )
#demo( 'browser' 'MinorVersion' $desc )
#demo( 'browser' 'GeckoVersion' $desc )
#demo( 'browser' 'GeckoMajorVersion' $desc )
#demo( 'browser' 'GeckoMinorVersion' $desc )
#set( $desc = 'Returns true if the user-agent string indicates this browser made the request' )
#demo( 'browser' 'Gecko' $desc )
#demo( 'browser' 'Firefox' $desc )
#demo( 'browser' 'Safari' $desc )
#demo( 'browser' 'Chrome' $desc )
#demo( 'browser' 'Netscape' $desc )
#demo( 'browser' 'Nav2' $desc )
#demo( 'browser' 'Nav3' $desc )
#demo( 'browser' 'Nav4' $desc )
#demo( 'browser' 'Nav4up' $desc )
#demo( 'browser' 'Nav45' $desc )
#demo( 'browser' 'Nav45up' $desc )
#demo( 'browser' 'Navgold' $desc )
#demo( 'browser' 'Nav6' $desc )
#demo( 'browser' 'Nav6up' $desc )
#demo( 'browser' 'Mozilla' $desc )
#demo( 'browser' 'Ie' $desc )
#demo( 'browser' 'Ie3' $desc )
#demo( 'browser' 'Ie4' $desc )
#demo( 'browser' 'Ie4up' $desc )
#demo( 'browser' 'Ie5' $desc )
#demo( 'browser' 'Ie5up' $desc )
#demo( 'browser' 'Ie55' $desc )
#demo( 'browser' 'Ie55up' $desc )
#demo( 'browser' 'Ie6' $desc )
#demo( 'browser' 'Ie6up' $desc )
#demo( 'browser' 'Neoplanet' $desc )
#demo( 'browser' 'Neoplanet2' $desc )
#demo( 'browser' 'Aol' $desc )
#demo( 'browser' 'Aol3' $desc )
#demo( 'browser' 'Aol4' $desc )
#demo( 'browser' 'Aol5' $desc )
#demo( 'browser' 'Aol6' $desc )
#demo( 'browser' 'AolTV' $desc )
#demo( 'browser' 'Opera' $desc )
#demo( 'browser' 'Opera3' $desc )
#demo( 'browser' 'Opera4' $desc )
#demo( 'browser' 'Opera5' $desc )
#demo( 'browser' 'Opera6' $desc )
#demo( 'browser' 'Opera7' $desc )
#demo( 'browser' 'Hotjava' $desc )
#demo( 'browser' 'Hotjava3' $desc )
#demo( 'browser' 'Hotjava3up' $desc )
#demo( 'browser' 'Amaya' $desc )
#demo( 'browser' 'Curl' $desc )
#demo( 'browser' 'Staroffice' $desc )
#demo( 'browser' 'Icab' $desc )
#demo( 'browser' 'Lotusnotes' $desc )
#demo( 'browser' 'Konqueror' $desc )
#demo( 'browser' 'Lynx' $desc )
#demo( 'browser' 'Links' $desc )
#demo( 'browser' 'WebTV' $desc )
#demo( 'browser' 'Mosaic' $desc )
#demo( 'browser' 'Wget' $desc )
#demo( 'browser' 'Getright' $desc )
#demo( 'browser' 'Lwp' $desc )
#demo( 'browser' 'Yahoo' $desc )
#demo( 'browser' 'Google' $desc )
#demo( 'browser' 'Java' $desc )
#demo( 'browser' 'Altavista' $desc )
#demo( 'browser' 'Scooter' $desc )
#demo( 'browser' 'Lycos' $desc )
#demo( 'browser' 'Infoseek' $desc )
#demo( 'browser' 'Webcrawler' $desc )
#demo( 'browser' 'Linkexchange' $desc )
#demo( 'browser' 'Slurp' $desc )
#demo( 'browser' 'Robot' $desc )
#set( $desc = 'Returns true if the user-agent string indicates the request was made by this device' )
#demo( 'browser' 'Blackberry' $desc )
#demo( 'browser' 'Audrey' $desc )
#demo( 'browser' 'Iopener' $desc )
#demo( 'browser' 'Avantgo' $desc )
#demo( 'browser' 'Palm' $desc )
#demo( 'browser' 'Wap' $desc )
#set( $desc = 'Returns true if the user-agent string indicates the request was made using this operating system' )
#demo( 'browser' 'Win16' $desc )
#demo( 'browser' 'Win3x' $desc )
#demo( 'browser' 'Win31' $desc )
#demo( 'browser' 'Win95' $desc )
#demo( 'browser' 'Win98' $desc )
#demo( 'browser' 'Winnt' $desc )
#demo( 'browser' 'Win2k' $desc )
#demo( 'browser' 'Winxp' $desc )
#demo( 'browser' 'Dotnet' $desc )
#demo( 'browser' 'Winme' $desc )
#demo( 'browser' 'Win32' $desc )
#demo( 'browser' 'Windows' $desc )
#demo( 'browser' 'Mac' $desc )
#demo( 'browser' 'Macosx' $desc )
#demo( 'browser' 'Mac68k' $desc )
#demo( 'browser' 'Macppc' $desc )
#demo( 'browser' 'Amiga' $desc )
#demo( 'browser' 'Emacs' $desc )
#demo( 'browser' 'Os2' $desc )
#demo( 'browser' 'Sun' $desc )
#demo( 'browser' 'Sun4' $desc )
#demo( 'browser' 'Sun5' $desc )
#demo( 'browser' 'Suni86' $desc )
#demo( 'browser' 'Irix' $desc )
#demo( 'browser' 'Irix5' $desc )
#demo( 'browser' 'Irix6' $desc )
#demo( 'browser' 'Hpux' $desc )
#demo( 'browser' 'Hpux9' $desc )
#demo( 'browser' 'Hpux10' $desc )
#demo( 'browser' 'Aix' $desc )
#demo( 'browser' 'Aix1' $desc )
#demo( 'browser' 'Aix2' $desc )
#demo( 'browser' 'Aix3' $desc )
#demo( 'browser' 'Aix4' $desc )
#demo( 'browser' 'Linux' $desc )
#demo( 'browser' 'Sco' $desc )
#demo( 'browser' 'Unixware' $desc )
#demo( 'browser' 'Mpras' $desc )
#demo( 'browser' 'Reliant' $desc )
#demo( 'browser' 'Dec' $desc )
#demo( 'browser' 'Sinix' $desc )
#demo( 'browser' 'Freebsd' $desc )
#demo( 'browser' 'Bsd' $desc )
#demo( 'browser' 'X11' $desc )
#demo( 'browser' 'Unix' $desc )
#demo( 'browser' 'VMS' $desc )
#set( $desc = 'Returns true if this feature is supported.  Since support of those features is often partial, the sniffer returns true when a consequent subset is supported. ' )
#demo( 'browser' 'Css' $desc )
#demo( 'browser' 'Css1' $desc )
#demo( 'browser' 'Css2' $desc )
#demo( 'browser' 'Dom0' $desc )
#demo( 'browser' 'Dom1' $desc )
#demo( 'browser' 'Dom2' $desc )
#demo( 'browser' 'Javascript' $desc )
#demo1('browser' 'setLanguagesFilter' 6 'setter for a coma-separated list of weapp languages filter')
#demo( 'browser' 'languagesFilter' 'coma-separated list of weapp languages filter')
#set( $desc = 'Returns the preferred language tag from Accept-Header, filtered by values given to the LanguageFilter param' )
#demo( 'browser' 'preferredLanguage' $desc)
#demoCustom( 'browser' )
</table>
