## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
#title( 'ContextTool' )
<p>
This page demonstrates functions of the #doclink( 'ContextTool' false ).
</p>

#demoTableStart()

#set( $desc = 'Returns the ViewContext being analyzed by this tool' )
#demo( 'context' 'this' $desc )

#set( $desc = 'Returns <code>true</code> if there is a value available in the current request context for the specified key' )
#demo1( 'context' 'contains' 6 $desc )

#set( $desc = 'Returns the value for the specified key in the current request context' )
#demo1( 'context' 'get' 6 $desc )

#set( $desc = 'Returns a java.util.Set of the keys available in the current request context' )
#demo( 'context' 'keys' $desc )

#set( $desc = 'Returns a java.util.Map of the tools available in the current request context and their context keys' )
#demo( 'context' 'toolbox' $desc )

#set( $desc = 'Returns a java.util.Set of the values available in the current request context' )
#demo( 'context' 'values' $desc )

#demoCustom( 'context' )
</table>
