## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.

## Force use of default layout (so req params don't override it)
#set( $layout = "Default.vm" )
#title( "Error - $!cause.class.name" )

<div align="center">
<h1>$text.error.header</h1>
<br>
<b style="color: #FF0000;">
#if( $invocation_exception )
  $!invocation_exception.message
#else
  $!cause.message
#end
</b>
<br>
<div style="font-size: 8pt">
<pre>
#if( $invocation_exception )
oh joy! it's a MethodInvocationException!

Reference name: $invocation_exception.referenceName
Method name: $invocation_exception.methodName
#end

Alright, here's the stack.  Good luck.

$stack_trace
</pre>
</div>
<h3>$text.error.sorry</h3>
</div>
