## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
#title( 'LoopTool' )
<p>
#set( $demo = $text.demo )
$demo.thisPage.insert("#doclink( 'LoopTool' true )").
This tool is a convenience tool to use with ${esc.h}foreach loops. It wraps a
list to let you prematurely end stop iterating, skip iterations, easily
determine if you are on the first or last iteration, get the number of iterations
completed, automatically exclude or break on particular elements and easily
do all the above with complex, nested loops.
</p>

<form method="post" action="$link.self">
  <textarea name="demo" rows="10" cols="65">
#if( $params.demo )##
$params.demo##
#else##
${esc.h}set( ${esc.d}numbers = [1, 2, 3, 4, 5, 6] )
${esc.h}set( ${esc.d}letters = ['A','B','C'] )
${esc.h}foreach( ${esc.d}l in ${esc.d}loop.watch(${esc.d}letters, 'l') )
${esc.h}foreach( ${esc.d}n in ${esc.d}loop.watch(${esc.d}numbers).exclude(3) )
${esc.h}if( ${esc.d}loop.first )${esc.d}l[${esc.h}end${esc.h}${esc.h}
${esc.d}n${esc.h}${esc.h}
${esc.h}if( ${esc.d}loop.last )]  ${esc.h}else, ${esc.h}end${esc.h}${esc.h}
${esc.h}if( ${esc.d}l == 'B' )${esc.d}loop.stop('l')${esc.h}end${esc.h}${esc.h} stop the letter loop after B
${esc.h}end
${esc.h}end##
#end#*
*#</textarea>
  <input type="submit" value="$demo.try">
  #if( $params.layout )
  <input type="hidden" name="layout" value="$params.layout">
  #end
</form>

#if( $params.demo )
$demo.mainResultsIntro:
<pre>
  $render.eval($params.demo)
</pre>
#end
