## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
#title( 'XmlTool' )
<p>
$text.demo.thisPage.insert("#doclink( 'XmlTool' true )").
$text.get('xml.intro')
</p>

#set( $toolname = 'xml' )
#set( $toolclass = $xml.class )
#set( $toollink = $doclink )
#set( $toolDemo = 
"Document: ${esc.d}esc.xml(${esc.d}xml)

bar text: ${esc.d}xml.bar.text

baz attr value: ${esc.d}xml.a.baz

last bar xml: ${esc.d}esc.xml(${esc.d}xml.bar.last)"
)

#parse( 'demo.vm' )
