## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
#title( 'Maven Taglib2Directive example' )
<p>
#set( $demo = $text.demo )
This is not a 'real' tool, but a Maven plugin that
generates Velocity directives from a JSP Tag library. Here you can see an example
that shows DisplayTag included using Velocity directives.
</p>
$request.setAttribute("list", $people)
#display_table({"name": "list", "pagesize": 5, "sort": "list"})
  #display_column({"property": "name", "title": "Name", "sortable": true})#end
  #display_column({"property": "surname", "title": "Surname", "sortable": true})#end
  #display_column({"property": "role", "title": "Role", "sortable": true})#end
#end
