<html>
<body bgcolor="white">

<h2>List HTTP Header Fields (Velocity Version)</h2>

Display the values of the HTTP headers included in this request.<br><br>

<table border="1">
  <tr>
    <th>Header Name</th>
    <th>Header Value</th>
  </tr>

  #foreach( $header in $request.HeaderNames )
    <tr>
      <td>$header</td>
      <td>$request.getHeader($header)</td>
    </tr>
  #end

</table>

</body>
</html>