<html>
    <head>
	    <title>$get.message("title")</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    </head>

    <body>

        <h2>MathTool Demo (Velocity)</h2>

        First, load the MathTool context tool into the context with key "math":<br>
        <code>\$toolLoader.load("math", "org.apache.velocity.tools.struts..MathTool")</code><br><br>

        $toolLoader.load("math", "org.apache.velocity.tools.struts.MathTool")
    
        Functions provided by MathTool:<br>
    
        <table border="1" cellspacing="0" cellpadding="4">
            <tr>
                <td>\$math.pi()</td><td>$math.pi()</td>
            </tr>
            <tr>
                <td>\$math.min(345, 765)</td><td>$math.min(345, 765)</td>
            </tr>
            <tr>
                <td>\$math.max(345, 765)</td><td>$math.max(345, 765)</td>
            </tr>
            <tr>
                <td>\$math.random(0, 999)</td><td>$math.random(0, 999)</td>
            </tr>
            <tr>
                <td>\$math.pow(2, 2)</td><td>$math.pow(2, 2) (?)</td>
            </tr>
            <tr>
                <td>\$math.abs(-123)</td><td>$math.abs(-123)</td>
            </tr>
            <tr>
                <td>\$math.mod(19, 4)</td><td>$math.mod(19, 4)</td>
            </tr>
        </table>

    </body>

</html>
