<?xml version="1.0"?>

<project href="index.html">

  <title>Velocity</title>
  <logo href="../images/velocitygenerictools.png">&lt; Velocity Tools - Library &gt;</logo>

  <body>

    <uplink name="Velocity Tools"      href="../" alt="top"/>

    <menu name="Generic Tools">
        <item name="Overview"         href="index.html"/>
        <item name="Download"         href="../index.html#Download"/>
        <item name="Contributions"    href="index.html#Contributions"/>
        <item name="Javadoc"          href="../javadoc/index.html"/>
    </menu>

    <menu name="Tool Documentation">
        <item name="DateTool"         href="DateTool.html"/>
        <item name="MathTool"         href="MathTool.html"/>
        <item name="RenderTool"       href="../javadoc/org/apache/velocity/tools/generic/RenderTool.html"/>
        <item name="IteratorTool"     href="../javadoc/org/apache/velocity/tools/generic/IteratorTool.html"/> />
    </menu>

    <printerversion/>


  </body>
</project>