<?xml version="1.0"?>

<project href="index.html">
    <title>Velocity</title>
    <logo href="images/velocitytools.png">&lt; Velocity Tools &gt;</logo>

    <body>
      <uplink name="Velocity"        href="http://jakarta.apache.org/velocity" alt="top"/>

      <menu name="Velocity Tools">
          <item name="Overview"               href="index.html"/>
          <item name="Download"               href="index.html#Download"/>
          <item name="ChangeLog"              href="changes.html"/>
          <item name="CVS Repository"         href="index.html#CVS Repository"/>
          <item name="Javadoc"                href="javadoc/index.html"/>
          <item name="Wiki"                   href="http://nagoya.apache.org/wiki/apachewiki.cgi?VelocityTools"/>
          <item name="Report Issues"          href="http://issues.apache.org/bugzilla/enter_bug.cgi?product=Velocity&amp;component=Tools"/>
      </menu>

      <menu name="Subprojects">
          <item name="GenericTools"           href="generic/"/>
          <item name="VelocityView"           href="view/"/>
          <item name="VelocityStruts"         href="struts/"/>
      </menu>
    </body>
</project>
