<?xml version="1.0"?>

<project href="index.html">
    <title>Velocity</title>
    <logo href="images/velocitytools.png">&lt; Velocity Tools &gt;</logo>

    <body>
      <uplink name="Velocity"        href="http://jakarta.apache.org/velocity" alt="top"/>

      <menu name="Velocity Tools">
          <item name="Overview"               href="index.html"/>
          <item name="CVS Repository"         href="index.html#CVS Repository"/>
          <item name="Javadoc"                href="javadoc/index.html"/>
      </menu>

      <menu name="Sub-projects">
          <item name="VelocityView"           href="view/"/>
          <item name="Generic Tools"          href="generic/"/>
          <item name="VelocityStruts"         href="struts/"/>
      </menu>
    </body>
</project>
